<!DOCTYPE html>

<html lang="en">
    
    <head>

        {% block title %}<title>Just Clothes</title>{% endblock %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
       
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>

        <header class="container-fluid">
            <div class="row">
            
                <div class="col-12 header_top">
                    <h1 class="main_title">JUST CLOTHES</h1>
                </div>
            
                <div class="col-12 header_separator">
                </div>
            
                <a href="" class="col-1 header_bottom menu_btn_container">
                    <i class="bi bi-list menu_icon"></i>
                </a>
                <div class="col-10 header_bottom">
                    <input class="search_bar" type="text" placeholder="Busca...">

                    <a href="{% url 'filter_global' %}" class="search_button">
                        <i class="bi bi-search search_icon"></i>
                    </a>
                </div>
                <div class="col-1 header_bottom"></div>

            </div>

        </header>

        <main>

            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12 ">
                        {% block content %}

                        {% endblock %}
                    </div>
                    
                </div>
            </div>
        </main>

        <footer class="container-fluid">
            <div class="row">



                <div class="col-12 footer_top">
                    <h1>CONTACTO</h1>
                </div>



                <div class="col-12 header_separator"></div>

                

                <div class="col-12 footer_bottom">
                    <h1>LEGAL</h1>
                </div>

            </div>
        </footer>
    </body>
</html>