<!DOCTYPE html>

<html lang="en">
    
    <head>

        {% block title %}<title>Just Clothes</title>{% endblock %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

       
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>

        <header class="container-fluid">
            <div class="row">
            
                <div class="col-12 header_top">
                    <a href="{% url 'main' %}" class="main_title ">JUST CLOTHES</a>
                </div>
            
                <div class="col-12 header_separator">
                </div>
            
                <a  class="col-1 header_bottom menu_btn_container" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-list menu_icon"></i>
                    
                </a>

                
                

                <div class="col-10 header_bottom">
                <form action="{% url 'filter_global' %}" method="POST">
                    {% csrf_token %}
                        <input id="search" name="search" class="search_bar" type="text" placeholder="Busca...">

                        <button type="submit" class="search_button">
                            <i class="bi bi-search search_icon"></i>
                        </a>
                    </form>
                </div>
                    <a href="{% url 'carrito' %}" class="col-1 header_bottom carrito_btn_container"><i class="bi bi-cart menu_icon"></i></a>
                    

                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        {% for category in categories %}
                        <li class="list-group-item sidebar_base_li"><a href="{{ category.get_absolute_url }}" class="menu_element">{{category.name}}</a></li>
                        {% empty %}
                        <li class="list-group-item sidebar_base_li"><a class="menu_element" href="{% url 'main' %}">Tienda</a></li>
                        {% endfor %}
                        
                        {% if not request.user.is_authenticated %}
                        <li class="list-group-item sidebar_base_li"><a class="menu_element" href="{% url 'login' %}">Login</a></li>
                        {% else %}
                        <li class="list-group-item sidebar_base_li"><a class="menu_element" href="{% url 'logout' %}">Logout</a></li>
                        {% endif %}

                    </div>
                  </div>

            </div>

        </header>

        <main>

            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-12 ">
                        {% block content %}

                        {% endblock %}
                    </div>
                    
                </div>
            </div>
        </main>

        <footer class="container-fluid">
            <div class="row">



                <div class="col-12 footer_top">
                    <h1>CONTACTO</h1>
                </div>



                <div class="col-12 header_separator"></div>

                

                <div class="col-12 footer_bottom">
                    <h1>LEGAL</h1>
                </div>

            </div>
        </footer>

        


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    </body>
</html>