{% extends "base_generic.html" %}
{% block content %}

    {% if carrito %}
    <ul>
    {% for product in carrito %}
    
        <li class="card producto_carrito">
            <div class="row">
                <div class="col-4 carrito_col">
                    {{ product }}
                </div>
                <div class="col-4 carrito_col">
                    <img src="{{ product.img.url }}" height="75em" width="75em"></img>
                </div>
                <div class="col-4 carrito_col">
                    1
                </div>
            </div>
        </li>
    
    {% endfor %}
    </ul>
    
    <div class="row">
        <div class="col-12 carrito_col">
            <a href="{{ pedido.get_absolute_url }}" class="btn btn-danger btn_comprar"><b>Comprar</b></a>
        </div>
    </div>

    {% else %}
    <p class="carrito_vacio"><b>NO HAY PRODUCTOS EN EL CARRITO</b></p>

    {% endif %}



{% endblock %}