{% extends "base_generic.html" %}
{% block content %}

<div class="row">
    <div class="col-6">
        <img src="{{ product.img.url }}" width="750em" height="750em"></img>
    </div>
    <div class="col-6 card detalle_container">
        <div class="row">
            <div class="col-12 carrito_col">
            <p class="descripcion_producto"> {{ product.description }} </p>
            </div>
            <div class="col-6 carrito_col">
                <select class="form-select" aria-label="Default select example" onchange="window.location.href=this.options [this.selectedIndex].value">
                    {% for product in records %}
    
                    <option value="{{ product.get_absolute_url }}" >{{ product.color }}</option>
                                    
                                
                    
                    {% endfor %}
                  </select>
            </div>
            <div class="col-6 carrito_col">
                <select class="form-select" aria-label="Default select example" onchange="window.location.href=this.options [this.selectedIndex].value">


                    {% for product in product_color %}
    
                    <option value="{{ product.get_absolute_url }}" >{{ product.size }}</option>
                                    
                                
                    
                    {% endfor %}
                  </select>  
            </div>

           
        </div>

        

        <div class="row" >
            <div class="col-12 carrito_col">
                
                <h3>{{ product.price }} €</h3>
            </div>
        </div>
    </div>
   
</div>

<div class="row">
    <div class="col-12 carrito_col">
        <a href="{{ product.get_absolute_url_add_to_cart }}" class="btn btn-danger btn_añadir">AÑADIR A LA CESTA</a>
    </div>
</div>

{% endblock %}