h1{
    margin: 0;
}

a{
    text-decoration: none;
}

.carrito_col{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.btn_comprar{
    background-color: #CD3636;
    margin-bottom: 1em;
    width: 75%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-color: #CD3636;
}

.btn_añadir{
    margin-top: 1em;
    background-color: #CD3636;
    margin-bottom: 1em;
    width: 75%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-color: #CD3636;
}

.detalle_container{
    border-color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.carrito_vacio{
    text-align: center;
    font-size: 3em;
}

.producto_carrito{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding: 1em;
    border-width: 0.1em;
    border-color: #1C1C1C;
}

.header_top{
    background-color: #CD3636;
    height: 5.7em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_separator{
    background-color: #ffffff;
    height: 0.3em;
}

.header_bottom{
    background-color: #1C1C1C;
    height: 3em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_title{
    font-size: 5em;
    margin: 0;
    color: #ffffff;
}

.main_title:hover{
    color: white;
}

.menu_btn_container{
    height: 3em;
    border-right: solid white;
    
}

.menu_element{
    color: black
}

.menu_element:hover{
    color: black;
}

.menu_btn_container:hover{
    color: white;
}

.carrito_btn_container{
    height: 3em;
    border-left: solid white;
    
}

.carrito_btn_container:hover{
    color: white;
}

.search_bar{
    border-top: solid 0.1em #1C1C1C;
    border-left: solid 0.1em #1C1C1C;
    border-bottom: solid 0.1em #1C1C1C;
    border-right: 0;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 0.3em;
    width: 30em;
}

.search_button{
    background-color: white;
    border-top: solid 0.1em #1C1C1C;
    border-right: solid 0.1em #1C1C1C;
    border-bottom: solid 0.1em #1C1C1C;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 0.05em 0.6em 0.05em 0.2em;
}

.footer_top{
    background-color: #CD3636;
    height: 5.7em;

}

.menu_icon{
    font-size: 3em;
}

.search_icon{
    font-size: 1.3em;
    color: black;
}

.footer_top{
    background-color: #CD3636;
    height: 15em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer_bottom{
    background-color: #1C1C1C;
    height: 15em;
    color: white    ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-size {
    min-height: 20em;
    min-width: 20em;
    max-height: 20em;
    max-width: 20em;
    margin-right: 5px;
    text-align: center;
}

.card_image{
    margin:auto
}

.price{
    font-size: 2em;
}

.button_ver{
    background-color: #CD3636;
    border-color: #CD3636;
    margin-bottom: 1em;
}

.button_registro{
    background-color: #1C1C1C;
    border-color: #1C1C1C;
    margin-bottom: 1em;

}

.lista_login{
    list-style: none;
}